@keyframes slideInFromCenter {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-center {
  animation: slideInFromCenter 1s ease-out;
}

.slide-in-right {
  animation: slideInFromRight 0.7s ease-out;
}

.slide-in-left {
  animation: slideInFromLeft 0.7s ease-out;
}

.slide-in-top {
  animation: slideInFromTop 0.7s ease-out;
}

.slide-in-bottom {
  animation: slideInFromBottom 0.7s ease-out;
}
